anyascii==0.3.2
asgiref==3.6.0
async-generator==1.10
attrs==23.1.0
beautifulsoup4==4.11.2
bootstrap4==0.1.0
bs4==0.0.1
careerjet-api==3.2
careerjet-api-client==3.0.1
cchardet==2.1.7
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.12
crispy-bootstrap4==2022.1
defusedxml==0.7.1

Django==4.1.7
django-bootstrap-datepicker-plus==5.0.3
django-bootstrap4==23.1
django-crispy-forms==2.0
django-filter==22.1
django-forms-bootstrap==3.1.0
django-modelcluster==6.0
django-permissionedforms==0.1
django-taggit==3.1.0
django-treebeard==4.7
djangorestframework==3.14.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
exceptiongroup==1.1.1
filetype==1.2.0
gunicorn==21.2.0
h11==0.14.0
html5lib==1.1
idna==3.3
l18n==2021.3
lxml==4.9.2
openpyxl==3.1.2
outcome==1.2.0
packaging==23.1
Pillow==9.5.0

pycparser==2.21
pydantic==1.10.7
PySocks==1.7.1
pytz==2023.3
requests==2.27.1
selenium==4.10.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
sqlparse==0.4.3
telepath==0.3.1
trio==0.22.0
trio-websocket==0.10.3
typing_extensions==4.5.0
tzdata==2022.7
urllib3==1.26.8
webencodings==0.5.1
# wheel==0.38.1
whitenoise==6.5.0
Willow==1.5
wsproto==1.2.0